.hover-pointer {
  &:hover {
    cursor: pointer;
  }
}
.font-bold {
  font-weight: bold !important;
}

.number-input {
  &__button {
    // width: 56px !important;
    background-color: $primary !important;
    &:after {
      height: 10px !important;
      width: 2px !important;
      background-color: white !important;
    }
    &:before {
      height: 2px !important;
      width: 10px !important;
      background-color: white !important;
    }
  }
  &__input {
    // height: 56px;
    border: 1px solid $primary !important;
  }
  &:before {
    content: "Spots";
    top: 0;
  }
}
.increment-label {
  position: relative;
  margin-top: 17px;
  span {
    position: absolute;
    top: -24px;
    left: 0;
    z-index: 2;
    font-size: 15px;
  }
}
.v-expansion-panel-content__wrap {
  padding: 0;
}
body {
  background-color: #fbfbfd;
}
.heading-counter {
  color: $secondary;
  font-weight: bold;
  .counter {
    padding: 4px 15px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: .5rem;
  }
  @media(max-width: 767px) {
    font-size: 18px;
    .counter {
      padding: 4px 12px;
    }
  }
}
.v-input--is-label-active {
  .v-input__slot {
    background-color: #f2f2f2;
    // border: 1px solid $primary;
  }
}
.main-header {
  .v-toolbar__content {
    padding: 0;
  }
}