.v-data-table {
  // padding-top: 2rem;
  .table {
    &-logo {
      img {
        padding: 0.5rem;
      }
    }
    &__row {
      td:last-child {
        transition: all 0.3s ease-in-out;
        .hovering {
          display: none;
        }
      }
      &:hover {
        td:last-child {
          transition: all 0.3s ease-in-out;
          .hovering {
            display: inline-block;
          }
        }
      }
      td {
        color: #838789;
        font-size: 13px;
        padding: 20px 16px;
        height: 79px;
        .edit,
        i.mdi-pencil {
          color: $primary !important;
        }
        .delete,
        i.mdi-delete {
          color: red !important;
        }
      }
      .name {
        color: $primary;
        font-weight: bold;
      }
    }
  }
}
.teams {
  td {
    color: $color-dark !important;
    font-weight: bolder !important;
  }
}
.members {
  tbody {
    tr:nth-child(odd) {
      background-color: #e5f3f9;
    }
    tr {
      td {
        border-bottom: none !important;
      }
    }
  }
}
.v-expansion-panel::before {
  box-shadow: none !important;
}
.booked-camps {
  max-height: 400px;
  overflow-y: overlay;
  thead {
    background-color: $color-bg;
    th {
      color: $color-th;
      font-weight: bold;
    }
  }
}